@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
:root {
    --primary-color: #d55a00;
    --secondary-color: #181616;
    --tertiary-color: #296120;
    --font-color: #333;
    --background-color: #f1ebe6;
}
body {
    margin: 0;
    color: var(--font-color);
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
    font-size: 1em;
    background-color: var(--background-color);
}
h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 6rem;
    text-align: center;
    text-transform: uppercase;
    color: black;
}
h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 4.5rem;
}
h3 {
    font-size: 4rem;
    font-weight: normal;
    margin: 0;
    line-height: 4rem;
}
h4 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 3rem;
}
h5 {
    font-size: 2.5rem;
    text-align: center;
    
}
button {
    text-transform: uppercase;
    font-size: 1.1rem;
    background: none;
    padding: 25px;
    margin: 0 10px;
    min-width: 200px;
    color: var(--background-color);
    border: solid 3px var(--background-color);
    border-radius: 50px;
}

.flexContent {
    display: flex;
}


/* Header styling */
header {
    display: flex;
    align-items: center;
    height: 5vh;
    font-weight: 600;
}
header div {
    width: 50%;
}

#site-title {
    justify-content: flex-start;
    padding-left: 5%;
    color: var(--primary-color);
}
#top-nav {
    justify-content: flex-end;
}
ul {
    margin-left: auto;
    list-style-type: none;
}
#top-nav li {
    color: var(--primary-color);
    padding-right: 5%;
    text-transform: uppercase;
}


/* Hero landing Styling */
.spacer {
    width: 30%;
}
/* Parent for landing elements */
#landing-container {
    display: flex;
    height: 50vh;
    background-image: url("/images/background-image.png");
    background-size: contain;
    background-position: 0% 100%;
    background-repeat: no-repeat;
    align-items: center;
    /*background-attachment: fixed;*/
}
#landing {
    font-family: 'Inter', sans-serif;
    width: 100%;
    mix-blend-mode: difference;
    color: white;
}
#bio {
    display: flex;
    align-items: stretch;
    padding: 0 5%;
    height: 50vh;
    margin-top: -1px;
    background-color: var(--secondary-color);
}
#bio-content1 {
    color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-right: 1%;
}
#bio-content1 h4 {
    margin: 0;
}
#bio-content2 {
    width: 50%;
    padding-left: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#hero-img {
    max-width: 100%;
    height: auto;
}
.button-parent {
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 5% 0;
}


/* Portfolio work styling */
.special {
    flex-direction: row-reverse;
}
.work {
    display: flex;
    flex-direction: column;
}
.case-container {
    display: flex;
    margin: 0 5% 5%;
    justify-content: space-between;
    height: 50vh;
}
.work button {
    color: var(--primary-color);
    border-color: var(--primary-color);
    margin: 0;
}
.case-images {
    display: flex;
    justify-content: space-evenly;
    width: 49%;
    height: auto;
    background-color: #30332e;
    overflow: hidden;
    border-radius: 5px;
}
.case-images img {
    object-fit: cover;
    padding: 1%;
}
.case-img1 {
    transform: translate(0px, 50px);
}
.case-img2 {
    transform: translate(0px,-50px);
}
.case-img3 {
    transform: translate(0px,-50px);
}
.case-img4 {
    transform: translate(0px, 50px);
}
.case-img5 {
    min-width: 100%;
}
.case-info {
    width: 49%;
}
.button-container {
    display: flex;
    justify-content: center;
}


/* About and Skills styling */
.mySkills {
    margin-bottom: 3%;
}
.aboutContainer {
    display: flex;
    justify-content: space-between;
    margin: 0 2%;
}
.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    padding: 3%;
    margin: 0 1%;
    overflow: hidden;
}
.skill i {
    margin-top: 10%;
}


/* Footer Styling */
footer {
    background-color: white;
    width: 100%;
    height: auto;
    padding: 3% 0;
}
.footer-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 97%;
    margin: auto;
}
.footer-image {
    width: 48%;
}
footer img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: auto;
    object-fit: cover;
}
.footer-content {
    width: 48%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 0px;
    font-weight: 600; 
}
.footer-content ul {
    padding: 0;
}
.footer-content li {
    padding-bottom: 5%;
}
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { 
    grid-area: 2 / 1 / 3 / 3;
    font-size: 3rem;
    color: var(--tertiary-color);
}
.div4 { grid-area: 3 / 1 / 4 / 2; }
.div5 { grid-area: 3 / 2 / 4 / 3; }

.div4, .div5 {
    text-transform: uppercase;
    align-self: end;
    font-size: 0.8rem;
}

@media only screen and (min-width: 601px) and (max-width: 992px){
    button {
        font-size: 1rem;
        padding: 20px;
        margin: 0 5px;
        min-width: 150px;
    }
    .case-container {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .case-images {
        width: 90%;
        height: 50%;
    }
    .case-images img {
        max-height: 500px;
    }
    .case-info {
        width: 90%;
        height: 50%;
    }
    .mySkills {
        margin: 0;
    }
    .aboutContainer {
        flex-direction: column;
        align-items: center;
    }
    .skill {
        width: 90%;
        margin-bottom: 3%;
    }
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 3rem;
    }
    h3 {
        font-size: 2.5rem;
        line-height: 2.5rem;
        margin-top: 3%;
    }
    h4 {
        font-size: 2rem;
    }
    h5 {
        font-size: 1.8rem;
    }
}


@media only screen and (max-width: 600px) {
    button {
        font-size: 1rem;
        padding: 15px;
        margin: 0 5px;
        min-width: 100px;
    }
     .case-container {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .case-images {
        width: 90%;
        height: 50%;
    }
    .case-images img {
        max-height: 500px;
    }
    .case-info {
        width: 90%;
        height: 50%;
    }
    .mySkills {
        margin: 0;
    }
    .aboutContainer {
        flex-direction: column;
        align-items: center;
    }
    .skill {
        width: 90%;
        margin-bottom: 3%;
    }
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 3rem;
    }
    h3 {
        font-size: 2.5rem;
        line-height: 2.5rem;
        margin-top: 2%;
    }
    h4 {
        font-size: 2rem;
    }
    h5 {
        font-size: 1.8rem;
    }
}