@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
}

h1 {
    font-size: 96px;
    text-align: center;
}

/* For any flex box content add this class */
.flexContent {
    display: flex;
}
/* Header styling */
header {
    display: flex;
    align-items: center;
    height: 10vh;
}
header div {
    width: 50%;
}

#site-title {
    justify-content: flex-start;
    padding-left: 5%;
}
#top-nav {
    justify-content: flex-end;
}
ul {
    margin-left: auto;
    list-style-type: none;
}
#top-nav li {
    padding-right: 5%;
    text-transform: uppercase;
}



.flexContainer {
    display: flex;
}
.heroImg {
    height: 600px;
    padding: 25px;
}
#hero-img {
    width: 500px;
    height: auto;
}
.content {
    width: 500px;
    margin: 0 auto;
}
footer {
    background-color: #373738;
    width: 100%;
    height: 20vh;

}